body {
  text-align: center;
  background-color: linear-gradient(pink,purple);;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.A{
  background-image: url("https://w7.pngwing.com/pngs/701/708/png-transparent-drum-sticks-on-snare-drum-drum-stick-drums-snare-drum-percussion-drums-white-musical-notation-oil-drums-thumbnail.png");
  background-position: center;
}

.Y{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToqXJZP5I13gasxg93Ab5btVg0aR41cpnoOpIegMBie5-k7_9z9bP5FTj02KdG6_w91iM&usqp=CAU.png");
  background-position: 100px 200px;
}

.S{
  background-image: url("https://w7.pngwing.com/pngs/47/33/png-transparent-bedug-drum-islamic-drum-ramadan-drum-bedug-drum-islamic-3d-icon-thumbnail.png");
  background-position:  70px right top ;
  }

.E {
  background-image: url("https://w7.pngwing.com/pngs/796/450/png-transparent-hand-drum-djembe-conga-percussion-drum-oil-drums-drum-bongo-drum-thumbnail.png");
  background-position: center top;
}

.D {
  background-image: url("https://w7.pngwing.com/pngs/937/711/png-transparent-a-snare-drum-etiquette-photography-drum-drumming-thumbnail.png");
  background-position: center;
} 

.J {
  background-image: url("https://w7.pngwing.com/pngs/606/795/png-transparent-drum-circle-davul-graphy-percussion-drum-photography-retro-oil-drums-thumbnail.png");
  background-position:left  center;
  background-size: cover;
}

.O {
  background-image: url("https://w7.pngwing.com/pngs/232/168/png-transparent-red-drums-bass-drum-drums-classical-style-drumming-chinese-style-cartoon-drum-thumbnail.png");
  background-position:  top center;
  width: 300px;
  height: 300px;
}
.M {
  background-image: url("https://w7.pngwing.com/pngs/877/542/png-transparent-musical-instrument-percussion-goblet-drum-drum-oil-drums-drum-tambourine-thumbnail.png");
  background-position: center;
}
.set {
  margin: 10% auto;
}

.game-over {
  background-color:red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #040404;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
